Package: cldemo-wbench-ospfunnum-puppet
Version: 0.6
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-base-puppet, cldemo-wbench-ztp-puppet
Maintainer: Nat Morris <nat@cumulusnetworks.com>
Description: 2 leaf 2 spine; Puppet, PTM and OSPF Unnumbered IPv4
  4 switch lab, managed by Puppet, OSPF Unnumbered IPv4 and PTM
