Package: cldemo-wbench-ztp-chef
Version: 0.2-1
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-base-chef
Maintainer: Matt Willsher <mwillsher@cumulusnetworks.com>
Description: Zero touch provisioning script for Chef
    Bootstrap zero touch provisioning script for Chef
