Package: cldemo-wbench-base-puppet
Version: 1.5-3
Section: base
Priority: optional
Architecture: all
Depends: puppetmaster, cldemo-wbench-base, cldemo-wbench-ztp-puppet
Maintainer: Leslie Carr <leslie@cumulusnetworks.com, Nat Morris <nat@cumulusnetworks.com>
Description: Puppetmaster basic configuration
  Setup the puppetmaster, fileserver, autosigning etc
