Package: cldemo-wbench-base-puppet
Version: 0.6
Section: base
Priority: optional
Architecture: all
Depends: puppetmaster
Maintainer: Nat Morris <nat@cumulusnetworks.com>
Description: Puppetmaster basic configuration
  Setup the puppetmaster, fileserver, autosigning etc
