Package: cldemo-wbench-ztpbasic-1s-puppet
Version: 0.3
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-base-puppet
Maintainer: Leslie Carr <leslie@cumulusnetworks.com, Nat Morris <nat@cumulusnetworks.com>
Description: Single switch basic configuration with puppet
  Single switch puppet install
