[submodule "pkgs/workbench/cldemo-wbench-base-puppet/debian/etc/puppet/modules/cumuluslinux-netdev_stdlib_cumulus_linux"]
	path = pkgs/workbench/cldemo-wbench-base-puppet/debian/etc/puppet/modules/cumuluslinux-netdev_stdlib_cumulus_linux
	url = https://github.com/CumulusNetworks/puppet-netdev-stdlib-cumulus-linux.git
[submodule "pkgs/workbench/cldemo-wbench-base-puppet/debian/etc/puppet/modules/account"]
	path = pkgs/workbench/cldemo-wbench-base-puppet/debian/etc/puppet/modules/account
	url = https://github.com/torrancew/puppet-account.git
[submodule "pkgs/workbench/cldemo-wbench-librenms-base/debian/var/www/librenms"]
	path = pkgs/workbench/cldemo-wbench-librenms-base/debian/var/www/librenms
	url = https://github.com/librenms/librenms.git
[submodule "pkgs/workbench/cldemo-wbench-librenms-base-puppet/debian/etc/puppet/modules/puppetlabs-mysql"]
	path = pkgs/workbench/cldemo-wbench-librenms-base-puppet/debian/etc/puppet/modules/puppetlabs-mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "pkgs/workbench/cldemo-wbench-base-puppet/debian/etc/puppet/modules/puppetlabs-stdlib"]
	path = pkgs/workbench/cldemo-wbench-base-puppet/debian/etc/puppet/modules/puppetlabs-stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "pkgs/workbench/cldemo-wbench-librenms-base-puppet/debian/etc/puppet/modules/mysql"]
	path = pkgs/workbench/cldemo-wbench-librenms-base-puppet/debian/etc/puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "pkgs/workbench/cldemo-wbench-base-puppet/debian/etc/puppet/modules/stdlib"]
	path = pkgs/workbench/cldemo-wbench-base-puppet/debian/etc/puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "pkgs/workbench/cldemo-wbench-base-ansible/debian/home/cumulus/ansibledemos/cumulus-linux-ansible-modules"]
	path = pkgs/workbench/cldemo-wbench-base-ansible/debian/home/cumulus/ansibledemos/cumulus-linux-ansible-modules
	url = git@github.com:CumulusNetworks/cumulus-linux-ansible-modules.git
