Package: cldemo-wbench-osinstaller-openstack-puppet
Version: 0.1-8
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-osinstaller-ubuntuserver-trusty
Maintainer: Matt Willsher <mwillsher@cumulusnetworks.com>
Description: Installation of Openstack using the PuppetLabs Openstack modules
   Installation of Openstack
