Package: cldemo-wbench-aptmirror
Version: 0.1-1
Section: base
Priority: optional
Architecture: all
Depends: apache2,apt-mirror
Maintainer: Nat Morris <nat@cumulusnetworks.com>
Description: CEng Demo, Add aptmirror functionality
  Test package 1
