Package: cldemo-wbench-ztp-ansible
Version: 0.1-2
Section: base
Priority: optional
Architecture: all
Maintainer: Nat Morris <nat@cumulusnetworks.com>
Description: Zero touch provisioning script for Ansible
    Bootstrap zero touch provisioning script for Ansible
