Package: cldemo-wbench-ztpbasic-1s-ansible
Version: 0.2
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-base-ansible
Maintainer: Nat Morris <nat@cumulusnetworks.com>
Description: Basic configuration of a switch with Ansible
  Basic configuration with Ansible
