Package: cldemo-wbench-ospfunnum-2s-cfengine
Version: 0.1-2
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-ospfunnum-base-cfengine
Maintainer: Matt Willsher <mwillsher@cumulusnetworks.com>
Description: 2 switch; CFEngine, PTM and OSPF Unnumbered IPv4
  2 switch lab, managed by CFEngine, OSPF Unnumbered IPv4 and PTM
