Package: cldemo-wbench-openvpn
Version: 0.1-4
Section: base
Priority: optional
Architecture: all
Depends: openvpn
Maintainers: Nat Morris <nat@cumulusnetworks.com>, Leslie Carr <leslie@cumulusnetworks.com>
Description: Pre-configured OpenVPN and TunnelBlick config
  Sets up preconfigured OpenVPN
