Package: cldemo-wbench-openvpn
Version: 0.6-3
Section: base
Priority: optional
Architecture: all
Depends: openvpn, cldemo-wbench-base
Maintainer: Nat Morris <nat@cumulusnetworks.com>, Leslie Carr <leslie@cumulusnetworks.com>
Description: Pre-configured OpenVPN and TunnelBlick config
  Sets up preconfigured OpenVPN
