Package: cldemo-wbench-ibgp-base-ansible
Version: 0.2-1
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-base-ansible
Maintainer: Nat Morris <nat@cumulusnetworks.com>, Stanley Karunditu <stanleyk@cumulusnetworks.com>
Description: Ansible, PTM and iBGP IPv4
  Ansible, iBGP IPv4 and PTM
