Package: cldemo-wbench-ibgp-2s-puppet
Version: 0.1-2
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-ibgp-base-puppet
Maintainer: Leslie Carr <leslie@cumulusnetworks.com, Nat Morris <nat@cumulusnetworks.com>, Matt Willsher <mwillsher@cumulusnetworks.com>
Description: 2 leaf ; Puppet, PTM and iBGP IPv4
  2 switch lab, managed by Puppet, iBGP IPv4 and PTM
