Package: cldemo-wbench-ospfunnum-2s2l-cfengine
Version: 0.1
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-ospfunnum-base-cfengine
Maintainer: Matt Willsher <mwillsher@cumulusnetworks.com>, Nat Morris <nat@cumulusnetworks.com>
Description: 2 spine 2 leaf; CFEngine, PTM and OSPF Unnumbered IPv4
  2 spine 2 leaf lab, managed by CFEngine, OSPF Unnumbered IPv4 and PTM
