Package: cldemo-wbench-sflow-2s-puppet
Version: 0.1
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-sflow-base, cldemo-wbench-base-puppet
Breaks: cldemo-wbench-ospfunnum-2s2l-puppet, cldemo-wbench-ospfunnum-2s-puppet
Maintainer: Leslie Carr <leslie@cumulusnetworks.com, Nat Morris <nat@cumulusnetworks.com>
Description: Setup sflow with 2s topology
  Setup hsflowd on the switch and display monitoring examples
