Package: cldemo-wbench-ansible-base
Version: 0.1-1
Section: base
Priority: optional
Architecture: all
Maintainer: Nat Morris <nat@cumulusnetworks.com>
Description: Ansible basic configuration
  Setup Ansible
