Package: cldemo-wbench-ospfunnum-2s-puppet
Version: 0.1
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-base-puppet, cldemo-wbench-ztp-puppet
Maintainer: Nat Morris <nat@cumulusnetworks.com>
Description: 2 switch; Puppet, PTM and OSPF Unnumbered IPv4
  2 switch lab, managed by Puppet, OSPF Unnumbered IPv4 and PTM
