Package: cldemo-wbench-ganglia-2lt22s-puppet
Version: 1.0-5
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-base-puppet, puppet, cldemo-wbench-ztp-puppet
Breaks: cldemo-wbench-ospfunnum-2s2l-puppet, cldemo-wbench-ospfunnum-2s-puppet
Maintainer: Leslie Carr <leslie@cumulusnetworks.com, Nat Morris <nat@cumulusnetworks.com>
Description: Setup ganglia web frontend 
  Setup the ganglia web front end and hsflowd on the switch to display monitoring examples
