Package: cldemo-wbench-base-cfengine
Version: 0.1
Section: base
Priority: optional
Architecture: all
Depends: ansible, cldemo-wbench-base, cldemo-wbench-ztp-cfengine
Maintainer: Nat Morris <nat@cumulusnetworks.com>
Description: CFEngine basic configuration
  Setup CFEngine and generate SSH keys
