Package: cldemo-wbench-ztpbasic-1s-cfengine
Version: 0.1-2
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-base-cfengine
Maintainer: Matt Willsher <mwillsher@cumulusnetworks.com>
Description: Single switch basic configuration with CFEngine
  Single switch CFEngine install
