Package: cldemo-wbench-ganglia-2s-puppet
Version: 0.1-2
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-ganglia-base-puppet
Breaks: cldemo-wbench-ospfunnum-2s2l-puppet, cldemo-wbench-ospfunnum-2s-puppet
Maintainer: Leslie Carr <leslie@cumulusnetworks.com, Nat Morris <nat@cumulusnetworks.com>
Description: 2 switch; Puppet, OSPF Unnumbered IPv4, and Ganglia
  2 switch lab, managed by Puppet, OSPF Unnumbered IPv4 and Ganglia monitoring
