Package: cldemo-wbench-librenms-base
Version: 0.1-4
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-base
Maintainer: Leslie Carr <leslie@cumulusnetworks.com>, Nat Morris <nat@cumulusnetworks.com>
Description: Base files for LibreNMS installation
  Base files for LibreNMS installation, includes submodule of librenms
