Package: cldemo-wbench-base-chef
Version: 0.1-9
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-base, expect, chef-server, chef
Maintainer: Matt Willsher <matt@cumulusnetworks.com>
Description: Chef Server basic configuration
  Setup the Chef server, add a user
