Package: cldemo-wbench-ospfunnum-base-ansible
Version: 0.2
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-base-ansible
Maintainer: Nat Morris <nat@cumulusnetworks.com>, Stanley Karunditu <stanleyk@cumulusnetworks.com>
Description: Ansible, PTM and OSPF Unnumbered IPv4
  Ansible, OSPF Unnumbered IPv4 and PTM
