Package: cldemo-wbench-osinstaller-ubuntuserver-precise
Version: 0.2-7
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-osinstaller-ubuntuserver
Maintainer: Matt Willsher <mwillsher@cumulusnetworks.com>
Description: Installation of Ubuntu Server 12.04 onto servers
   Installation of Ubuntu Server 12.04 onto servers
