{{ header_tmpl }}
{% set intvars = interfaces[ansible_hostname] -%}
{% set bgpvars = bgp[ansible_hostname] -%}
{% set loopback_ip = intvars.loopback -%}
{% set swbridges = intvars.bridges -%}

!
router-id {{ loopback_ip }}
!
{% if bgpvars is defined -%}
router bgp {{ bgpvars.myasn }}
 bgp router-id {{ loopback_ip }}
 bgp log-neighbor-changes
 network {{ loopback_ip }}/32
 {% if intvars.bridges is defined -%}
 {% for bridgename in swbridges.keys() -%}
 network {{ swbridges[bridgename].ip_and_mask }}
 {% endfor %}
 {% endif -%}
 {% for groupname in bgpvars.peergroupv4.keys() -%}
 neighbor {{ groupname }} peer-group
 neighbor {{ groupname }} remote-as {{ bgpvars.peergroupv4[groupname].peerasn }}
 {% if bgpvars.peergroupv4[groupname].routereflectorclient is defined -%}
 neighbor {{ groupname }} route-reflector-client
 {% endif -%}
 {% for peer in bgpvars.peergroupv4[groupname].peers %}
 neighbor {{ peer }} peer-group {{ groupname }}
 {% endfor %}
 {% endfor %}
{% endif -%}
!
{% if intvars.int_unnumbered is defined -%}
{% for item in intvars.int_unnumbered -%}
  no passive-interface {{ item }}
{% endfor %}
{% endif -%}
  network {{ loopback_ip }}/32 area 0.0.0.0
{% if hostnetranges is defined and is_leaf is defined -%}
  {% for item in hostnetranges %}
  network {{ item }} area 0.0.0.0
  {% endfor %}
{% endif -%}
!
