Package: cldemo-wbench-ztp-puppet
Version: 0.3-1
Section: base
Priority: optional
Architecture: all
Maintainer: Nat Morris <nat@cumulusnetworks.com>
Description: Zero touch provisioning script for Puppet
    Bootstrap zero touch provisioning script for Puppet
