Package: cldemo-wbench-osinstaller-vmwareesxi55
Version: 0.1-1
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-tftpd
Maintainer: Nat Morris <nat@cumulusnetworks.com>
Description: OS installer for VMWare ESXi 5.5
    OS installer for VMWare ESXi 5.5 hypervisor, for physical and virtual hosts via PXE
