Package: cldemo-wbench-osinstaller-ubuntuserver
Version: 0.3-9
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-tftpd, lftp
Maintainer: Nat Morris <nat@cumulusnetworks.com>, Matt Willsher <mwillsher@cumulusnetworks.com>
Description: Supporting tools for Ubuntu Linux operating system installation
   Supporting tools for Ubuntu Linux operating system installation
