Package: cldemo-wbench-osinstaller-ubuntuserver
Version: 0.1-5
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-tftpd, lftp
Maintainer: Nat Morris <nat@cumulusnetworks.com>, Matt Willsher <mwillsher@cumulusnetworks.com>
Description: OS installer for Ubuntu Server LTS
    OS installer for Ubuntu Server LTS, for physical and virtual hosts via PXE
