Package: cldemo-wbench-sflow-base
Version: 0.2-3
Section: admin 
Priority: optional
Architecture: all
Essential: no
Depends: bind9, apache2, curl, openjdk-6-jre-headless, libapache2-mod-proxy-html
Maintainer: Neil McKee [neil.mckee@inmon.com]
Description: base files for demonstration of sFlow(R) monitoring agent
Homepage: host-sflow.sourceforge.net
