Package: cldemo-wbench-sflow-base
Version: 0.2-3
Section: admin 
Priority: optional
Architecture: all
Essential: no
Depends: cldemo-wbench-base, openjdk-6-jre-headless, libapache2-mod-proxy-html
Maintainer: Neil McKee [neil.mckee@inmon.com]
Description: base files for demonstration of sFlow(R) monitoring agent
Homepage: host-sflow.sourceforge.net
