Package: cldemo-wbench-ldap-client-puppet
Version: 0.1-1
Section: base
Priority: optional
Architecture: all
Depends: cldemo-wbench-base-puppet
Maintainer: Matt Willsher <mwillsher@cumulusnetworks.com>
Description: LDAP client configured by Puppet
  Installs the modules and scripts to set up NSS and PAM LDAP clients
